# dependencies
node_modules/

# next.js
.next/
out/

# environment variables
.env.local
.env*.local

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem

# superpowers
.superpowers/
